{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/base.css' %}">
<p>
  <div class="container">
    <div align='right'>
      {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <button><a href="{% url 'logout'%}">Log Out</a></button>
      {% else %}
        <button method="post" ><a href="{% url 'register'%}">Register</a></button> -
        <button><a href="{% url 'login'%}">Log In</a></button>
      {% endif %}
    </div>
    <div>
      <a href="{% url 'index' %}">Learning Log</a> -
      <a href="{% url 'topics' %}">Topics</a> -
    </div>
  </div>  
</p>
{% block content %}{% endblock content %}