{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>Create new post</h3>
{% endblock page_header %}

{% block content %}
  <p>Text:</p>
  <form action="{% url 'blogs:new_post' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button class="btn btn-primary" type="submit">Add post </button>
    {% endbuttons %}
    <input type="hidden" name="next"
      value="{% url 'blogs:blogposts' %}">
  </form>

{% endblock content %}